{% extends 'Clientes/home.html' %}


{% block titulo %}
<h2>Acerca de mí</h2>
{% endblock titulo %}   

{% block contenido %}
    <section id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Mi nombre es Tomas Agustin Avendaño, tengo 20 años y esta es mi primera aplicación web. Soy de Córdoba, Argentina, actualmente estoy estudiando Ingeniería en Sistemas.</p>
                    <p>Mi viaje con Python comenzó como una búsqueda de conocimiento y certificación. Decidí realizar este curso para profundizar mis habilidades y construir sobre una pequeña base que había adquirido en la universidad.</p>
                    <p>El proyecto que he elegido para llevar a cabo es una tienda de ropa en línea.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}