<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tienda de Ropa</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href= "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    </head>
    <body>
        {% load static %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'productos' %}">Productos</a></li>   
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'accesorios' %}">Accesorios</a></li>    
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'sucursal' %}">Sucursales</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'mediosPago' %}">Medios de Pago</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'aboutMe' %}">Acerca de mi</a></li>
                        </ul>
                        <a  href="{% url 'agregar_avatar' %}" ><img src="{{ request.session.avatar }}" height="40px" weight="40px"/></a>
                        <a style="color:green">Hola {{user.first_name}}!</a>
                        <a class="btn btn-outline-info" href="{% url 'editar_perfil' %}">Editar Perfil</a>
                        <form action="{% url 'logout' %}" method="post" class="d-flex">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button>
                        </form>
                    {% else %}
                        <form class="d-flex">
                            <a href="{% url 'login' %}" class="btn btn-outline-info">
                                Iniciar Sesion
                            </a>
                            <a href="{% url 'register' %}" class="btn btn-outline-success">
                                Registrar
                            </a>
                        </form>
                    {% endif %}    
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    {% block titulo %}
                        <h1 class="display-4 fw-bolder">Tienda de Ropa</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Lo mejor en ropa: Abrigos, Camperas, Camisas, Pantalones y más.</p>
                    {% endblock titulo %}
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            {% block contenido %}
            
            {% endblock contenido %}
          
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark d-flex justify-content-center align-items-center flex-column">
            <div class="text-center">
                <p class="text-white">avendaoagustin@gmail.com</p>
                <p class="text-white">Copyright &copy; 2024 Tomas Avendaño</p>
            </div>
            <div class="text-center">
                <a href="https://github.com/Tomi28491" class="icono-enlace"><i class="fab fa-github fa-2x"></i></a>
            </div>
            
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
