{% extends 'Clientes/home.html' %}


{% block titulo %}
    <h1> Productos</h1>
    <style>
        .container {
            position: relative;
        }

        input {
            width: 500px;
            padding: 10px;
            padding-right: 35px;
            border-radius: 5px 0 0 5px;
            border: 0;
            outline: none;
            font-size: 1rem;
        }
        .barra{
            background-color: crimson;
            padding: 10px 15px;
            position: absolute;
            border: 0;
            top: 0;
            bottom: 0;
            right: 1;
            margin: auto;
            border-radius: 0 5px 5px 0;
            color: #fff;
            cursor: pointer
        }
        .barra:hover {
            background-color: darkred
        }
    </style>
    <!-- BARRA DE BUSQUEDA-->
    <div class="container">
        <form action="{% url 'buscar_productos' %}" method="get">
            {% csrf_token %}
            <input type="text" placeholder="Buscar Productos..." name="buscar" id="buscar">
            <button class="barra" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
{% endblock titulo %}   

{% block contenido %}
    <style>
        .card-img-top {
            width: auto; /* Esto mantendrá la proporción de la imagen */
            height: 200px; /* Largo deseado */
        }
    </style>
    <table>
        <tr>
            <td width="200"><h5>Agregar Producto</h5></td>
            <td>
                <!-- CREAR PRODUCTO-->
                <a
                href="{% url 'producto_create' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="Crear"> </i>
                </a>
            </td>
        </tr>
    </table>
    <br>
    <div class="container">
        <div class="row">
            {% for p in producto_list  %}
                <div class="col-sm-4 align-items-center card">
                    <!-- IMAGEN DEL PRODUCTO-->
                    <img class="card-img-top" src="{{p.imagen.url}}" alt="..." />
                    <!-- DETALLE DEL PRODUCTO-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- NOMBRE DEL PRODUCTO-->
                            <h5 class="fw-bolder">{{p.producto}}</h5>
                            <!-- COLOR DEL PRODUCTO-->
                            <p>Color: {{p.color}}</p>
                            <!-- TALLE DEL PRODUCTO-->
                            <p>Talle: {{p.talle}}</p>
                            <!-- PRECIO DEL PRODUCTO-->

                            <p><b>${{p.precio}}</b></p>
                            <!-- EDITAR PRODUCTO-->
                            <a
                                href="{% url 'producto_update' p.id %}"   
                                class="btn btn-warning"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                            </a>
                            <!-- ELIMINAR PRODUCTO-->
                            <a
                                href="{% url 'producto_delete' p.id %}"   
                                class="btn btn-danger"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
               
                    
        </div>
    </div>
                   
{% endblock contenido %}