{% extends 'Clientes/home.html' %}


{% block titulo %}
    <h1> Productos</h1>
{% endblock titulo %}   

{% block contenido %}
    <table>
        <tr>
            <td width="200"><h5>Agregar Producto</h5></td>
            <td>
                <a
                href="{% url 'producto_create' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="Crear"> </i>
                </a>
            </td>
        </tr>
    </table>
    <br>
    <div class="container">
        <div class="row">
            {% for p in producto_list  %}
                <div class="col-sm-4 align-items-center card-deck">
                    <!-- Sale badge-->
                    <!-- Product image-->
                    <img class="card-img-top" src="{{p.imagen.url}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{p.producto}}</h5>
                            <!-- Product reviews-->
                            <p>Color: {{p.color}}</p>
                            <!-- Product price-->

                            <p><b>${{p.precio}}</b></p>
                            <a
                                href="{% url 'producto_update' p.id %}"   
                                class="btn btn-warning"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                            </a>
                            <a
                                href="{% url 'producto_delete' p.id %}"   
                                class="btn btn-danger"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
               
                    
        </div>
    </div>
                   
{% endblock contenido %}